@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inconsolata:wght@400;500;600;700;800&family=Raleway:ital,wght@0,100;0,300;0,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Amatic SC', 'Geneva', Verdana, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: nome;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: top-center;
    justify-content: top-center;
}

.section-title{
    font-size: 6rem;
    font-weight: 300px;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0,2rem;
    text-align: center;
}

#navegation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6,6,6)
  }
  
  #navegation li {
    float: left;
  }
  
  #navegation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  #navegation li a:hover {
    background-color: rgba(55, 54, 54, 0.977);
  }

  #footer {
    background-color: rgb(12, 8, 1);
    font-size: 1.5em;
    color: white;
    border: 5px solid rgb(12, 8, 1);

  }

/*Seção de apresentação*/

#presentation {
    background-image: url(./nasa-Yj1M5riCKk4-unsplash.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#presentation h1 {
     display: block;
     width: fit-content;
     font-size: 5rem;
     text-align: justify;
     position: relative;
     animation: blinkcursor 1000ms steps(70), typing 6s steps(70) 1s normal both;
     margin: 0 auto;
     white-space: nowrap;
     overflow: hidden;
}

#presentation h1:nth-child(1){
   animation-delay: 4.8s;
}

#presentation h1:nth-child(2){
    animation-delay: 9.8s;
}

#presentation h1:nth-child(3) {
    border-right: 2px solid transparent;
    margin: auto;
    animation-delay: 14.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 5px;
    color: whitesmoke;
    background-color: black;
    border: 2px solid #a29fab;
    font-size: 3rem;
    margin-bottom: 3px;
    margin-left: 3px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: .5s ease;
    transition-property: background-color, color;
}

#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: #f9f8f4b9;
}


@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 12em;
    }
}

@keyframes blinkcursor {
    form {
        border-right-color: transparent;
    }
    to{
        border-right-color: grey;
    }
    
}

/*Seção de portifólio*/

#portfolio {
    background: linear-gradient(to bottom, rgb(114, 151, 179),rgb(53, 82, 99),rgb(12, 8, 1));
}

#portfolio .portfolio {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}

#portfolio .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
}

#portfolio .project-info{
    background-image: linear-gradient(45deg, #476172,#dfc298 0%, #476172 100%,rgb(131, 176, 198));
    color: white;
    padding: 70px;
    flex-basis: 50%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-info h1{
    font-size: 6rem;
    font-weight: 500px;
}

#portfolio .project-info h2{
    font-size: 3rem;
    font-weight: 500px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 600px;
    overflow: hidden;
    position: relative;
    opacity: 0.7;
}

#portfolio .project-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0% #485563 100%);
    opacity: 0,8;
}

#portfolio .project-img img{
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img{
    transform: scale(1,1);
}

/* Media Query*/

@media only screen and (min-width: 768px){
    #portfolio .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #portfolio .all-projects .project-info{
        height: 100%;
    }
    #portfolio .all-projects .project-img{
        height: 100%
    
    }
    #portfolio .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
}
